*
{
    margin: 0;
    padding: 0;
    background-color: #272b44;
}
.main {
    display: flex;
    margin: 50px 110px;
    padding: 50px;
    background-color: #434b72;
    height: 70vh;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 2px #464d75;
    transition: 0.6s;
}
.box {
    justify-content: center;
    color: #ccc;
    margin: 80px 40px;
    padding: 50px;
    background-color: #3c4266;
    width: 200px;
    height: 200px;
    border-radius:15px;
    box-shadow: -6px -6px 6px #545c8b,
                10px 10px 10px rgba(0,0,0,0.123);
                 

}
.box:hover {
    justify-content: center;
    margin: 50px 40px;
    padding: 50px;
    background-color: #3c4266;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: -8px -8px 35px 2px rgba(199,139,255),
                8px 8px 35px 2px rgba(118,216,255);
}
.box h1 {
    background-color: #ccc;
    margin-top: 80px;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(rgb(255,255,255),rgba(227,249,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}